.fullbody {
    background-image:url("bg.jpg");
    /* background-color: aqua; */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formbody {
    border: solid 2px red;
    box-shadow: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:50%;
    width:30%;
    padding:20px;
    background-color:rgba(51, 255, 0, 0.3);
    border-radius:20px;
    overflow-y: scroll;
    
}
 ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.forminput {
    padding: 20px;
}